
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
  .rating__icons {
    @apply relative;
  }
  
  .rating__icons::before {
    @apply content-["★★★★★"] block text-[#EEEDF5] text-[13px] lg:text-[10px];
  }
  
  .rating__active {
    @apply absolute w-[80%] h-full top-0 left-0 overflow-hidden;
  }
  
  .rating__active::before {
    @apply content-["★★★★★"] absolute text-[#F2C94C] w-full h-full top-0 left-0 text-[13px] lg:text-[10px];
  }
  

  .category__item {
    @apply text-xs/[14.63px] font-medium pb-8 lg:pb-4 lg:pr-[5px] text-[#5C6A79] cursor-pointer;
  }


  .activeItem {
    @apply text-base/[19.5px] lg:text-[15px]/[17px] font-bold relative text-[#1C2A39];
  }

  .activeItem::before {
    @apply content-[url(/Ellipse.svg)] absolute left-[-14px] top-[-3px];   
  }



  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 700; */
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] xl:max-w-[1024px] lg:max-w-[600px] mx-auto;
}

.padding-x {
  @apply px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}


.header__menu-item {
  @apply text-[#5C6A79] px-5 lg:px-[10px];
}
.header__menu-item.activeText {
  @apply text-[#1C2A39]; 
}

.slider { 
  @apply grid ml-40 xl:ml-20 lg:ml-[50px] w-[calc(100%-10rem)] xl:w-[calc(100%-5rem)] lg:w-[calc(100%-50px)] 
  max-w-full mb-24 xl:mb-12 lg:mb-8 grid-cols-[1057px_63px_23px_63px_74px] xl:grid-cols-[1fr_33px_12px_33px_35px] lg:grid-cols-[1fr_50px] 
  grid-rows-[79px_204px_76px_273px_70px_30px] xl:grid-rows-[65px_178px_68px_216px_64px_30px] lg:grid-rows-[1fr_20px];
}
.slider__images {
  @apply relative col-start-1 col-end-3 lg:col-end-2 row-start-1 row-end-6 lg:row-end-2 transition-all ease-in duration-1000;
}
.slider__img {
  @apply object-cover object-center w-full h-auto opacity-0; 
}
.slider__img.active{
  @apply opacity-100; 
}
.slider__img.nextSlide, .slider__img.lastSlide{
  @apply hidden; 
}

.slider__dots {
  @apply flex justify-center items-center col-start-1 col-end-3 row-start-6 lg:row-start-2 row-end-7 lg:row-end-3;
}
.slider__dots-item {
  @apply cursor-pointer w-3 lg:w-[5px] h-3 lg:h-[5px] mt-4 mr-3 mb-0 ml-3 lg:mx-[5px] lg:mt-[5px] bg-[#EFEEF6] rounded-full transition-all ease-in duration-500;
}
.slider__dots-item:hover, .slider__dots-item.active {
  @apply bg-[#9E98DC]; 
}

/* 
.in-the-cart {
  @apply border border-[#EEEDF5] text-[#5C6A79];
} */


